@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

:root {
  --dark: rgba(43,32,18,1);
  --light: rgba(229,177,116,1);
  --light-highlight: rgba(230,191,144,1);
  --shadow-light: rgba(159,123,94,1);
  --shadow-dark: rgba(97,58,28,1);
  --border: rgba(168,103,50,1);
  --sky-light: #9bcaf58e;
  --sky-dark: #1876e2;
  --text: rgba(43,32,18,1);
  --text-light: rgba(229,177,116,1);
  --toggle-button: rgba(230,191,144,1);
  --error: #FF312E;
  --ufo-body: #b8b8b8;
  --ufo-body-comp: #FF312E;
  --ufo-body-shadow: #2f2f2f;
  --ufo-glass: #ffffff;
  --ufo-light: #f0d471;
}

body {
  background: linear-gradient(var(--sky-dark), var(--sky-light));
}

.screen-container {
  background-image: url(../images/day.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.sun {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(#ffe600, #e79701);
  border-radius: 50%;
  z-index: -3;
  top: 5%;
  left: 30%;
  display: inline;
}

.moon {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(#cacaca, #f4f4f4);
  border-radius: 50%;
  z-index: -3;
  top: 5%;
  right: 30%;
  display: none;
}

.screen-container i {
  position: absolute;
  background: rgb(0, 255, 221);
  border-radius: 50%;
  animation: starsAnimation linear infinite;
  z-index: -2;
}

@keyframes starsAnimation {
  0% {
      opacity: 0;
      transform: translate(0, 0);
  }
  10%,90%{
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: translate(600px, 400px);
      
  }
}

.game-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.title-container {
  flex-grow: 1;
  flex-shrink: 1;
  width: min(450px, 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
  background-image: repeating-linear-gradient(180deg, var(--light), var(--light-highlight) 8%, var(--light-highlight) 10%); /* wood effect created in Adobe XD*/
  border: var(--border) dashed 8px;
  border-radius: 15px;
}

.title-container > h1 {
  /* text-align: center; */
  font-size: 3rem;
  color: var(--text);
  /* border: rgba(114,81,49,1) solid 2px; */
  text-shadow: 0 10px 4px var(--shadow-light);
}

.title-container i {
  font-size: inherit;
  border: none;
  text-shadow: none;
}

.middle-container {
  width: min(900px, 80%);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.main-container {
  width: min(900px, 80%);
  height: min(60%, 900px);
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 1%;
  /* background-color: green; */
}

.main-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-menu-button {
  width: clamp(200px, 80%, 600px);
  height: 22%;
  border-radius: 15px;
  border: 5px solid var(--border);
  background-color: var(--light-highlight);
  box-shadow: 2px 10px 10px var(--shadow-dark),
              inset 1px 5px 5px var(--shadow-light);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text);
  cursor: pointer;
}

#main-rules-modal {
  display: none; /* change this value between none and block to display modal*/
}

.modal-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  margin: 10% auto;
  width: 80%;
  max-width: 900px;
  max-height: 80%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /*****************************
  ** add modal open animation **
  ******************************/
}

.modal-header {
  box-sizing: border-box;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--dark);
  color: var(--text-light);
  width: 100%;
}

.modal-header > h2 {
  font-size: 2rem;
}

.modal-body {
  padding: 10px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 5px solid var(--light-highlight);
  background-color: var(--light-highlight);
  color: var(--text);
  height: 100%;
  overflow-y: scroll;
}

.modal-body > h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.modal-body > h4 {
  margin-top: 1.5rem;
}

.modal-body i {
  font-size: 1.25rem;
}

.modal-close {
  float: right;
  font-size: 2rem;
  line-height: 30px;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--error);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
background-color: var(--light-highlight);
}

::-webkit-scrollbar-thumb {
background: var(--dark);
border-radius: 5px;
}

/* Styling for settings modal*/

#settings-modal {
  display: none;
}

.settings-modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.settings-modal-column {
  text-align: center;
  padding-bottom: 50px; /* adjust both padding values for smaller screens*/
  padding-top: 50px;
}

.checkbox {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.left-label {
  margin-right: 5px;
}

.right-label {
  margin-left: 5px;
}

/* #rounds-wanted {
  color: var(--text);
} */

/* Styling to turn checkbox inputs into toggle sliders.*/

.toggle {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  background: var(--dark);
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: ease-in 500ms;
}

.toggle:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: var(--toggle-button);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 500ms;
}

.checkbox:checked ~ .toggle:before {
  transform: translateX(40px);
}

.toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  background: var(--toggle-button);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 500ms;
  transform: translateX(-40px);
}

.checkbox:checked ~ .toggle:after {
  transform: translateX(0px);
}

/* styling for name screen */

.main-menu > form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form {
  width: clamp(200px, 80%, 600px);
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-highlight);
  color: var(--text);
  border-radius: 15px;
  border: 5px solid var(--border);
  box-shadow: 2px 10px 10px var(--shadow-dark),
              inset 1px 5px 5px var(--shadow-light);
  
}

.form > label {
  margin-bottom: 10px;
  font-size: 2.5rem;
  font-weight: 700;
}

#name {
  width: min(90%, 200px);
  color: var(--text);
  font-size: 1.25rem;
}

#error-message {
  width: 90%;
  position: relative;
  top: -25px;
}

/* Styling for Game Screen*/
.game {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 5px;
}

.game-grid {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
  gap: 5px;
  grid-template-areas: 
  ".      lizard  lizard  spock   spock       ."
  ".      lizard  lizard  spock   spock       ."
  "rock   rock    paper   paper   scissors    scissors"
  "rock   rock    paper   paper   scissors    scissors"
  ".      player  player  comp    comp         ."
  ".      player  player  comp    comp         ."
  "rules  rules   .       .       quit        quit";
  place-content: space-around;
  place-items: center;
}

.rock {
  grid-area: rock;
}

.paper {
  grid-area: paper;
}

.scissors {
  grid-area: scissors;
}

.lizard {
  grid-area: lizard;
}

.spock {
  grid-area: spock;
}

.rules {
  grid-area: rules;
}

.quit {
  grid-area: quit;
}

#player-tile-classic,
#player-tile-spock {
  grid-area: player;
}

.comp-choice {
  grid-area: comp;
}

.ufo {
	width:250px;
	height:150px;
	position: relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.body{
	box-sizing:border-box;
	width: 200px;
	height: 50px;
	padding: 0px 15px;
	border-radius: 50%;
	background-color: var(--ufo-body);
  background-image: radial-gradient(farthest-corner at 60% 30%,var(--ufo-glass), var(--ufo-body) 7%, var(--ufo-body) 60%, var(--ufo-body-shadow) 98%);
	z-index:1;
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:absolute;
}

.body-comp {
	box-sizing:border-box;
	width: 200px;
	height: 50px;
	padding: 0px 15px;
	border-radius: 50%;
	background-color: var(--ufo-body-comp);
  background-image: radial-gradient(farthest-corner at 60% 30%,var(--ufo-glass), var(--ufo-body-comp) 7%, var(--ufo-body-comp) 60%, var(--ufo-body-shadow) 98%);
	z-index:1;
	display:flex;
	justify-content:space-around;
	align-items:center;
	position:absolute;
}
#comp-light-container {
  display: flex;
  justify-content:space-around;
	align-items:center;
}

.window {
	width:16px;
	height:16px;
	border-radius:50%;
	background-color: var(--ufo-light);
}

.small {
	width:12px;
  height:12px;
}

.window-left {
	position:relative;
	top: -5px;
	right: 12px;
}

.window-right {
	position:relative;
	top: -5px;
	right: -12px;
}

.window-center{
	position:relative;
	top: 5px;
}

.glass {
	width:100px;
	height:50px;
	border-radius:50px 50px 0px 0px;
	background-color: var(--ufo-glass);
	position:relative;
	top:-5px;
  opacity: .8;
}

.separator {
	width:96px;
	height:12px;
	border-radius: 50%;
	border-bottom: 2px solid var(--ufo-glass);
	z-index:2;
	background-color: var(--ufo-glass);
	position: absolute;
	top:48px;
  opacity: .4;
}

.light {
	position: absolute;
	top: 50px;
	width: 15px;
	height: 0px;
	border-right: 42px solid transparent;
	border-left: 42px solid transparent;
	border-bottom: 140px solid var(--ufo-light);
  z-index:0;
	display:flex;
	justify-content:center;
  opacity: .7;
  filter: blur(5px);
  -webkit-animation: light 0.5s linear 1s both;
  animation: light 0.5s linear 1s both;
}

.ufo i {
	position: relative;
	top: 60px;
	font-size: 60px;
  z-index: 2;
  opacity: 1;
  -webkit-animation: light 0.25s linear 1.25s both;
  animation: light 0.25s linear 1.25s both;
}

.game-button {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 5px solid var(--border);
  background-color: var(--light-highlight);
  box-shadow: 2px 10px 10px var(--shadow-dark),
              inset 1px 5px 5px var(--shadow-light);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-in-blurred-right {
	-webkit-animation: slide-in-blurred-right 1s ease-in-out both;
	        animation: slide-in-blurred-right 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-26 18:36:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

 @-webkit-keyframes light {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes light {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}

.scoreboard {
  width: min(440px, 90%);
  height: min(150px, 90%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: repeating-linear-gradient(180deg, var(--light), var(--light-highlight) 8%, var(--light-highlight) 10%);
  border: 5px solid var(--border);
  border-radius: 15px;
}

.scoreboard-top-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 20%;
  flex-grow: 0;
}

.scoreboard-top-row > span {
  font-size: 1rem;
  color: var(--text);
}

.scoreboard-middle-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 60%;
  flex-grow: 0;
}

.scoreboard-middle-row > span {
  font-size: 4rem;
  line-height: .5rem;
  color: var(--text);
}

#round-message-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 20%;
  width: 100%;
  flex-grow: 0;
  overflow: hidden;
  background-color: var(--dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#round-message {
  font-size: 1rem;
  color: var(--text-light);
  /*Add scrolling animation like sports ticker board*/
}

#player-name {
  width: 45%;
  text-align: right;
}

#name-vs {
  justify-self: center;
  width: 10%;
  text-align: center;
}

#comp-name {
  width: 45%;
  text-align: left;
}

#classic-rules-modal,
#spock-rules-modal {
  display: none;
}

#response {
  display:block;

  text-align: end;
}

#quit-modal {
  display: none;
}

#quit-modal-quit-button,
#quit-modal-cancel-button {
  max-width: 600px;
  margin: 20px auto;
}

.slide-out-blurred-left {
	-webkit-animation: slide-out-blurred-left 500ms ease-in-out both;
	        animation: slide-out-blurred-left 500ms ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-6-26 18:36:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 0;
  }
}

.endscreen-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.endscreen-text-container {
  width: 80%;
  background-color: var(--light-highlight);
  color: var(--text);
  border-radius: 15px;
  border: 5px solid var(--border);
  box-shadow: 2px 10px 10px var(--shadow-dark),
              inset 1px 5px 5px var(--shadow-light);
}

.endscreen-text-container > h2 {
  font-size: 2rem;
  box-sizing: border-box;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--dark);
  color: var(--text-light);
  width: 100%;
}

.endscreen-text-container > p {
  box-sizing: border-box;
  padding: 15px;
}