@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

body {
  background: linear-gradient(#1876e2, #9bcaf58e);
}

.screen-container {
  background-image: url(../images/day.svg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.sun {
  position: absolute;
  width: 100px;
  height: 100px;
  background: radial-gradient(#ffe600, #e79701);
  border-radius: 50%;
  z-index: -3;
  top: 5%;
  left: 30%;
}

.game-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  align-items: center;
}

.title-container {
  flex-grow: 1;
  flex-shrink: 1;
  width: min(450px, 40%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
  background-image: repeating-linear-gradient(180deg, rgba(229,177,116,1), rgba(230,191,144,1) 8%, rgba(230,191,144,1) 10%); /* wood effect created in Adobe XD*/
  border: rgba(168,103,50,1) dashed 8px;
  border-radius: 15px;
}

.title-container > h1 {
  /* text-align: center; */
  font-size: 3rem;
  color: rgba(43,32,18,1);
  /* border: rgba(114,81,49,1) solid 2px; */
  text-shadow: 0 10px 4px rgba(166,126,75,1);
}

.title-container i {
  font-size: inherit;
  border: none;
  text-shadow: none;
}

.middle-container {
  width: min(900px, 80%);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.main-container {
  width: min(900px, 80%);
  height: min(60%, 900px);
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 1%;
  /* background-color: green; */
}

.main-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-menu-button {
  width: clamp(200px, 80%, 600px);
  height: 22%;
  border-radius: 15px;
  border: 5px solid rgba(168,103,50,1);
  background-color: rgba(229,177,116,1);
  box-shadow: 2px 10px 10px rgba(97,58,28,1),
              inset 1px 5px 5px rgba(159,123,94,1);
  font-size: 2.5rem;
  font-weight: 700;
  color: rgba(43,32,18,1);
  cursor: pointer;
}

#main-rules-modal {
  display: none; /* change this value between none and block to display modal*/
}

.modal-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  margin: 10% auto;
  width: 80%;
  max-width: 900px;
  max-height: 80%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /*****************************
  ** add modal open animation **
  ******************************/
}

.modal-header {
  box-sizing: border-box;
  padding: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgba(43,32,18,1);
  color: rgba(230,191,144,1);
  width: 100%;
}

.modal-header > h2 {
  font-size: 2rem;
}

.modal-body {
  padding: 10px 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 5px solid rgba(230,191,144,1);
  background-color: rgba(230,191,144,1);
  color: rgba(43,32,18,1);
  height: 100%;
  overflow-y: scroll;
}

.modal-body > h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.modal-body > h4 {
  margin-top: 1.5rem;
}

.modal-body i {
  font-size: 1.25rem;
}

.modal-close {
  float: right;
  font-size: 2rem;
  line-height: 30px;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #FF312E;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
background-color: rgba(230,191,144,1);
}

::-webkit-scrollbar-thumb {
background: rgba(43,32,18,1);
border-radius: 5px;
}

/* Styling for settings modal*/

#settings-modal {
  display: none;
}

.settings-modal-body {
  display: flex;
  justify-content: space-around;
}

.settings-modal-column {
  text-align: center;
}

.checkbox {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.slider-container {
  display: flex;
  flex-direction: row;
}

.left-label {
  margin-right: 5px;
}

.right-label {
  margin-left: 5px;
}

/* Styling to turn checkbox inputs into toggle sliders.*/

.toggle {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  background: rgba(43,32,18,1);
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: ease-in 500ms;
}

.toggle:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: rgba(230,191,144,1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 500ms;
}

.checkbox:checked ~ .toggle:before {
  transform: translateX(40px);
}

.toggle:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(230,191,144,1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 500ms;
  transform: translateX(-40px);
}

.checkbox:checked ~ .toggle:after {
  transform: translateX(0px);
}